*{
    margin: 0;
    padding: 0;
    box-sizing: auto;
    list-style: none;
}


/* CELULARES  */

   
    body{
    display: flex;
    background: #FFFBF2;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


/* HEADER */



.header{
    height: 100vh;
    display: flex;
    background-image: url('/header-fondo.jpg');
    justify-content: center;
    background-position: -15rem;
    background-size: 90rem;

}


.cont-waves-header{
    width: 100%;    

}

.cont-waves-header img {
    position: relative;
    width: 100%;
    height: 30px;

}




/* NAV */

.toggle-button{
    display: none;   
   }

nav{
    display: flex;
    justify-content:left;
    position:fixed;
    color: #ffff;
    width: 100%;
    background-color: #E7B269;
    z-index: 2;
    height: 5rem;
    display: flex;
}

ul{
    display: flex;
    gap: 3rem;
    font-family: 'Koulen', cursive;
    font-size: 2rem;
}

.item-lista > a{
    color: white;
    text-decoration: none;
}



 .toggle{
    background-color: #E7B269;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


.toggle-button{
    position: fixed;
    top: 1.5%;
    width: 60px;
    height: 60px;
    color:#FFFBF2;
    font-size: 40px;
    display: inline-block;
    border: none;
    background-color: #33211D;
    margin-left: 1rem;
}

ul{
    display: flex;
    flex-direction: column;
}

.none{
    display: none;
}


h1{
    text-align: center;
    margin-top: 25%;
    color: white;
    font-family: 'Koulen', cursive;
    letter-spacing: 1rem;
    font-size: 5rem;
}
/* SOBRE NOSOTROS */

.sobre-nosotros-container{
        width: 100%;
        background: #FFFBF2;
        margin-top: 2rem;
    }
    
    .sobre-nosotros-imagen{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
    }
    
    .sobre-nosotros-p{
        font-family: 'Koulen', cursive;
        font-size: 2.5rem;
        color: #E7B269;
        justify-content: center;
        font-weight: bolder;
    }
    
    .desde-1960-p{
        font-size: 4rem;
        font-family: 'Koulen', cursive;
        font-weight:bolder;
        font-size: 4rem;
        color: #33211D;
    }
    
    .sobre-nosotros-h2{
        font-family: 'Koulen', cursive;
        font-weight: bolder;
        font-size: 3rem;
        width: 40%;
        color: #33211D;
}
    .cafe-img{
        width: 100%;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .container-parrafo1{
        margin-top: 4rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .container-parrafo2{
        margin-top: 4rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .parrafo1,.parrafo2{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        width: 80%;
    }

    .historia{
        background-color: #E7B269;
        
    }

    .aprende-mas{
        border: none;
        background-color: #E7B269;
        padding: 1rem;
        color: #FFFBF2;
        font-size: 1rem;
        font-family: 'Koulen', cursive;
        margin-top: 1rem;
        font-weight: bolder;
        width: 50%;
    }
    


    /* NUESTROS PRODUCTOS */

    .nuestros-servicios-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    
    .nuestros-productos-p{
       font-size: 2rem;
       font-family: 'Koulen', cursive;
       color: #E7B269;
       font-weight: bolder;


    }
    
    .granos-frescos-p{
        font-family: 'Koulen', cursive;
        font-size: 3rem;
        color: #33211D;
        font-weight: bolder;

    }
    
    .servicios-cont{
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
}
    
    .container-servicios{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;

    }
    
    .servicio{
        
        height: 200px;
        width: 300px;
    }
    
    .granos{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .span-servicios{
        width: 200px;
        margin: 20px;
        font-family: 'Koulen', cursive;
        color: #33211D;
        font-size: 1.3rem;
    }
    
    .span-p{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 4px;
        font-size: 1rem;

    }
    
 

    /* DESCUENTO */


    .container-cupon{
        display: flex;
        background-image: url('/fondo-cupon.jpg');
        background-size: 200%;
        width: 100%;
        background-repeat: no-repeat;

    }



    .descuento-p{
        gap: 0.5rem;
        color: #FFFBF2;
        font-family: 'Koulen', cursive;
    }

    .titulo-descuento{
        font-size: 3rem;
        font-family: 'Koulen', cursive;
        color: #E7B269;
    }
    
    .titulo-descuento2{
        font-size: 2.5rem;
    }

    .titulo-descuento3{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .email{

        border: none;
        height: 3rem;
        text-align: center;
        width: 20rem;
        margin-bottom: 0.5rem;
    }
    

    .email-button{
        border: none;
        height: 3rem;
        width: 10rem;
        margin: 0;
        background-color: #E7B269;
        margin-bottom: 20px;
    }



    /* MENU */

    .menu-container{
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
        gap: 2rem;
    }
    .menu-precios-p{
        font-size: 2rem;
        font-family: 'Koulen', cursive;
        color: #E7B269;
        font-weight: bolder;

    }
    
    .precios-competitivos-p{
        font-size: 3.5rem;
        font-family: 'Koulen', cursive;
        color: #33211D;
        font-weight: bolder;

    
    }
        .tipos-de-cafe{
            display: flex;
            flex-direction: column;
        }

        .cafe-cal{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            color: #33211D;
            font-size: 1rem;
            margin-bottom: 3rem;
        }

        .tipos-de-cafe{
            display: flex;
        }

        .cafe-cal span {
            font-size: 2rem;
        }

        .cafe-cal span p{
            font-size: 1.3rem;
            color: #33211D;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
        }
        
        .img-cafe{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 100%;
        }
        
        .cafe-caliente-cont{
            font-family: 'Koulen', cursive;
            font-size: 3rem;
        }
        
        .cafe-caliente-frio{
            color: #E7B269;
            text-align: center;
            margin-bottom: 2rem;
        font-weight: bolder;


        }

        
        
        .cont-imagen-cafe{
            margin: 1rem;
            height: 100px;
            width: 100px;
        }
        
     /* DESCUENTO 2  */
 
.reservacion{
    background: #33211D;    background-repeat: no-repeat;
    height: 850px;
}     

.form-cont{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;

}

.reservacion-cont{

    text-align: center;
    display: flex;
    gap: 4px;
    flex-direction: column;
    
}

.form{

    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top:1rem;

}

.form > p {
    font-family: 'Koulen', cursive;
    color: #FFFBF2;
    font-size: 2rem;

}

.form > input {
    border:2px solid #E7B269;
    padding: 10px;
    margin: 4px;
    width: 100%;
    text-align: center;
}

select {
    padding: 10px;
    border:2px solid #E7B269;
    margin: 4px;
    width: 100%;
    text-align: center;
}

.form > button {
    border: none;
    background-color: #E7B269;
    width: 50%;
    padding: 10px;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 20px;
    font-family: 'Koulen', cursive;
    font-size: 1.2rem;
    color: #33211D;

}

.reservacion-cont > p:nth-child(1){
    font-family: 'Koulen', cursive;
    color: #FFFBF2;
    font-size: 4rem;
    margin-top: 10px;
}

.reservacion-cont > p:nth-child(2){
    font-family: 'Koulen', cursive;
    color: #E7B269;
    font-size: 2rem;
}

.reservacion-cont > p:nth-child(3){
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFBF2;
    font-size: 1rem;

}

.reservacion-cont > p:nth-child(4), .reservacion-cont > p:nth-child(5) , .reservacion-cont > p:nth-child(6){
    color: #FFFBF2;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;

}

.tilde{
    color: #E7B269;
    font-size: 2rem;
    font-weight: 900;
}


/* TESTIMONIOS */


.testimonios-cont{
    width: 100%;
    background-color: #FFFBF2;
    margin-top: 4rem;
}

.testimonios-p{
    font-size: 2rem;
    font-family: 'Koulen', cursive;
    color: #33211D;
    font-weight: bolder;

}

.nuestrosclientes-p{
    font-family: 'Koulen', cursive;
    font-size: 4rem;
    color: #E7B269;
    
}

.clientes-cont{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    
}

.img-cliente-cont{
    height:100px;
    width:100px;
}

.img-cliente{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cliente{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;    
}


.descripcion-cliente{
    color: #33211D;
    font-family: 'Koulen', cursive;
    padding: 10px;
}

.descripcion-cliente > span:nth-child(1){
    font-size: 1rem;
    display: block;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    margin: 2px;
}

.descripcion-cliente > span:nth-child(2){
    display: block;
    font-size: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}

/* FOOTER */

.footer-cont{    display: flex;
    height: 1000px;
    flex-direction: column;
    background:#33211D;
    justify-content: center;
    align-items: center;
}


.donde-encontrarnos > p:nth-child(1){
    font-family: 'Koulen', cursive;
    font-size: 3rem;
    color: #E7B269;
}

.donde-encontrarnos > div {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.visitanos-text {
    font-size: 1rem;
    color: #FFFBF2;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}

ion-icon{
    font-size: 2.5rem;
    color: #FFFBF2;
}

.redes{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    margin-top: 2rem;
}

.links{
    display: flex;
    gap: 1rem;
}



.redes > p:nth-child(1){
    color: #E7B269;
    font-size: 3rem;
    font-family: 'Koulen', cursive;
}


.horarios{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 4rem;
}

.horarios > p:nth-child(1){
    color: #E7B269;
    font-size: 3rem;
    font-family: 'Koulen', cursive;
}

.cont-waves{
    width: 100%;
}

.cont-waves img {
    width: 100%;
    height: 50px;
}



.cont-waves-header{
    width: 100%;

}

.cont-waves-header img {
    position: relative;
    width: 100%;
    height: 50px;

}

.cont-waves-cupon{
    width: 100%;
}

.cont-waves-cupon img {
    position: relative;
    width: 100%;
    height: 50px;

}

.cont-waves-cupon-bottom{
    width: 100%;
  
}

.cont-waves-cupon-bottom img{
    position: relative;
    width: 100%;
    height: 50px;
    top: 450px;
}

.waves-cupon2{
    width: 100%;
    
}

.waves-cupon2 img{
    position: relative;
    width: 100%;
    height: 50px;
    top: 320px;

}

.waves-cupon{
    width: 100%;
    
}

.waves-cupon img{
    position: relative;
    width: 100%;
    height: 50px;
    bottom: 320px;

}